body {
  font-family: Arial, serif;
  background-color: #888888;
}

#wrapper {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 150px 0 150px;
}

#header {
  text-align: center;
}

#footer {
  text-align: center;
  font-size: 12px;
}

#error {
  color: #ff0000;
}
